@model storedata.Models.store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.storename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeownername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeownername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storelocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storelocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storecontactno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storecontactno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.storeid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
